ul li a {
    font-size: 1.1em;
}

body {
    background: darkblue;
}
.navbar-dark .navbar-toggler {
    color: rgb black;
    border-color: black;
}

footer div a:hover {
    text-decoration: none;
    color: beige;
}

footer div a {
    color: white;
    font-size: 0.9em;
}