body {
  background-color: blueviolet;
}

ul li a {
    font-size: 1.1em;
}

.navbar-dark .navbar-toggler {
    color: rgb black;
    border-color: black;
}

footer div a:hover {
    text-decoration: none;
    color: beige;
}

footer div a {
    color: white;
    font-size: 0.9em;
}

@media (max-width: 991.98px) {
  .vazio {
    display: none;
  }
}

@media (min-width: 991.98px) {
  .celular {
    display: none;
  }
}

.formatação {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  text-align: center;
}

.serviços {
  text-align: center;
}

.formatação a:hover{
  text-decoration: none;
}

.caixa {
    padding: 30px;
    background-color: white;
}
.col-md-3 .seg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.col-md-3:hover .seg {
  visibility: visible;
  opacity: 0.6;
  background-color: #2B2D37;
}

